extends layout

block content
    h2.landing.landing__title Four Square
    .landing__hero
        .container
            a.container.container__item.animated.zoomIn(href="/search-venues" aria-label="Link to Demo")
                != h.icon('logo')
                h4 App Demo
            a.container.container__item.animated.zoomIn(href="http://bit.ly/fs-github" rel="noopener" target="_blank" aria-label="Link to Source Code")
                != h.icon('github')
                h4 Source Code
            a.container.container__item.animated.zoomIn(href="/lighthouse" aria-label="Link to Audit Reports")
                != h.icon('lighthouse')
                h4 Audit Report
            a.container.container__item.animated.zoomIn(href="https://bit.ly/fs-doc" rel="noopener" target="_blank" aria-label="Link to Documentation")
                != h.icon('instruction')
                h4 Documentation

    footer.animated.zoomIn(id="footer" role="contentinfo")
        span Made with ❤️ by 
        a(href="https://thiru.xyz") Thiru 