extends layout
include mixins/_searchVenueForm
include mixins/_venueCard

block content
    .inner.searchContainer
        +searchVenueForm(near, category, lat, lng)
    if venues
        .inner
            .venues
                each venue in venues
                    +venueCard(venue)
        if noResults
            .flash-messages(id='searchVenueErr')
                Err.flash.flash--warning.animated.bounceInUp
                    p.flash__text Please refine search critera!
                    button.flash__remove(onClick="this.parentElement.remove()") &times;
