extends layout
include mixins/_searchVenueForm
include mixins/_venueCard

block content
    h2.title.title--landing Four Square
    .inner.searchContainer
        +searchVenueForm(near, category, lat, lng, radius)
    if venues
        .inner
            .venues
                each venue in venues
                    +venueCard(venue)
    if noResults
        .inner
            .flash-messages(id='searchVenueErr')
                Err.flash.flash--warning.animated.bounceInUp
                    p.flash__text Please refine search critera!
                    button.flash__remove(onClick="this.parentElement.remove()") &times;

    footer(id="footer" role="contentinfo")
      span Made with ❤️ by 
        a(href="https://thiru.xyz") Thiru 