mixin searchVenueForm(near="", category="", lat ="", lng="")
        form(action=`/venues`, method="get" )
            .filter-options
                .selectWrapper
                    label(for='category') I'm Looking For
                    input(type="text" id="category" name="category" class="category" placeholder="Coffee / Pizza" value=`${category}`)
                .selectWrapper
                    label(for='address') In the Location
                    input(type="text" id="near" name="near" class="near" placeholder="City / Country / ZipCode" value=`${near}`)
                    input(type="hidden" id="lng" name="lng" value=`${lng}` )
                    input(type="hidden" id="lat" name="lat" value=`${lat}` )
                .selectWrapper
                    input(type="submit", value="Search Venues" class="submitButton" id="searchVenues")
