@keyframes slideIn {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.flash {
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin: 1rem 0 2rem 0;
  padding: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  display: flex;
  &__text {
    flex: 1;
  }
  &__remove {
    background: none;
    border: 0;
    &:hover {
      color: $yellow;
    }
  }
  &--success {
    background: linear-gradient(135deg, #27ae60 0%, #dff0d8 100%);
    color: $white;
  }
  &--error {
    background: linear-gradient(20deg, #ce0303 0%, #5f2012 100%);
    color: $white;
  }
  &--warning {
    background: linear-gradient(35deg, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
  }
  &--info {
    background: linear-gradient(35deg, #d9edf7 0%, #d9edf7 100%);
    color: #31708f;
  }
  p {
    margin: 0;
  }
}