.inner.searchContainer {
  border: none;
}

@media screen and (min-width: 768px) {
  .inner.searchContainer {
    margin: 10px auto;
    border: 1px solid $blue;
  }
}

.filter-options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  font-family: $venue-font;
}

.filter-options h2 {
  color: white;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  padding: 20px;
  margin: 0;
  letter-spacing: 3px;
}

.filter-options .selectWrapper {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 20px);
  margin: 0 10px;
}

.filter-options label {
  color: $blue;
  padding: 0;
}

.filter-options input {
  background-color: #fff;
  border: 1px solid $blue;
  height: 48px;
  letter-spacing: 0;
  margin: 10px 0;
  padding: 0 10px;
  font-family: $venue-font;
}

.filter-options input[type=text]:focus {
  outline: $blue auto 3px;
  outline-offset: -1px;
}

.filter-options .submitButton {
  height: 50px;
  cursor: pointer;
  margin: 20px 0 4px 0;
  color: white;
  background-color: $blue;
  font-family: $venue-font;
  font-weight: 400;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .filter-options,
  .filter-options .selectWrapper {
    width: 100%;
    padding: 0;
  }
}

.slidecontainer {
  padding: 20px 0;
}

.filter-options .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: $blue;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 10px 0;
}

.filter-options .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
}

.filter-options .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
}

#radiusLabel {
  color: $blue;
  font-weight: 700;
}