.filter-options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  font-family: $venue-font;
}

.filter-options h2 {
  color: white;
  font-weight: normal;
  line-height: 1;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: 0;
  letter-spacing: 3px;
}

.filter-options .selectWrapper {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 20px);
  margin: 0 10px;
}

.filter-options label {
  color: $blue;
  padding: 0 10px;
}

.filter-options input {
  background-color: #fff;
  border: 1px solid $blue;
  height: 48px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 100%;
  font-family: $venue-font;
}

.filter-options input:focus {
  outline: $blue auto 3px;
  outline-offset: -1px;
}

.filter-options .submitButton {
  height: 50px;
  width: 100%;
  cursor: pointer;
  margin: 20px 0 4px 0;
  color: white;
  background-color: $blue;
  font-family: $venue-font;
  font-weight: 400;
  font-size: 2rem;
}